Practice-XML/2 Part_DTD schema/1_lessons_DTD.dtd

<!DOCTYPE TimeTable [
		<!ELEMENT lessons (lesson+)>
        <!ELEMENT lesson  (lessonName,lessonTeacher,classTine,course)>
        <!ELEMENT lessonTeacher (Name,LastName,PatronymicName)>
        <!ELEMENT classTine(#PCDATA)>
        <!ELEMENT course(#PCDATA)>
		<!ELEMENT lessonName    (#PCDATA)>
		<!ELEMENT Name (#PCDATA)>
		<!ELEMENT LastName  (#PCDATA)>
        <!ELEMENT PatronymicName  (#PCDATA)>
]>